
body {
    background: gray;
    font-family: sans-serif;
    font-size: 10pt;
    padding-top: 10px;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 130%;
}

h4 {
    font-size: 120%;
}

h5 {
    font-size: 110%;
}

h6 {
    font-size: 100%;
}

div#attachments {
    color: gray;
    padding: 0px;
    padding-top: 20px;
}

div#attachments :target a {
    color: red;
}

h1.title {
    text-align: center;
    font-size: 180%;
}

div.document {
    background: white;
    max-width: 800px;
    margin: auto;
    box-shadow: 8px 8px 8px #666;
    padding: 20px;
}

div.document:before {
    content: "snakemake report";
    text-align: right;
    display: block;
    font-weight: bold;
}

div.document p {
    font-family: serif;
    text-align: justify;
}

div#metadata {
    text-align: right;
}

table.docutils {
    border: none;
    border-collapse: collapse;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    text-align: center;
}

table.docutils th {
    border: none;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 5px;
}

table.docutils td {
    border: none;
    padding: 5px;
}

table.docutils th:last-child, td:last-child {
    text-align: left;
}

table.docutils th:first-child, td:first-child {
    text-align: right;
}

table.docutils th:only-child, td:only-child {
    text-align: center;
}

table.docutils.footnote {
    border: none;
    text-align: left;
}
